.popup {
    -webkit-overflow-scrolling: touch;
    z-index: 100;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    transition: visibility 0.8s ease 0s;
    // visibility: hidden;
    &::before {
        content: "";
        background-color: rgba(0, 0, 0, 0.9);
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        // opacity: 0;
        transition: opacity 0.8s ease 0s;
    }
    &.show {
        visibility: visible;
        overflow: auto;
        &::before {
            opacity: 1;
        }
        .popup__body {
            transform: scale(1);
        }
    }
    &._active {
        overflow: auto;
        visibility: visible;
        &::before {
            opacity: 1;
        }
        .popup__body {
            transition: 0.5s ease 0.2s;
            transform: scale(1);
        }
    }
    // .popup__content
    &__content {
        display: flex;
        flex-direction: column;
        min-height: 100%;
        flex: 1 1 auto;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    // .popup__body
    &__body {
        z-index: 100;
        // transform: scale(0);
        transition: 0.3s ease 0s;
        background-color: #fff;
        padding: 30px;
        width: 100%;
        max-width: 450px;
        position: absolute;
    }

    &__close {
        background-color: transparent;
        right: 20px;
        padding: 10px;
        top: 20px;
        outline: none;
        position: absolute;
        &::after,
        &::before {
            content: "";
            position: absolute;
            width: 21px;
            height: 1px;
            left: 0;
            background-color: #000;
            transform: rotate(-45deg);
        }
        &::before {
            transform: rotate(45deg);
        }
    }

    &__title {
        font-weight: 700;
        font-size: 18px;
        color: #333;
        margin-bottom: 32px;
    }
    &__input {
        width: 100%;
        outline: none;
        padding: 6px 10px 6px 0;
    }
    &__input-wrapper {
        position: relative;
        width: 100%;
    }
    &__placeholder {
        color: #b0b0b0;
        font-size: 14px;
        position: absolute;
        z-index: 10;
        left: 5px;
        top: 0;
        // transform: translateY(-50%);
        pointer-events: none;
    }
    &__input:focus ~ &__placeholder--required,
    &__input:valid ~ &__placeholder--required {
        display: none;
    }

    &__input:focus ~ &__placeholder--unrequired {
        display: none;
    }

    &__required {
        color: #9873ff;
    }
    &__btn-addcontact {
        position: absolute;
        bottom: 123px;
        color: #333;
        font-weight: 600;
        padding: 8px 0;
        left: 0;
        width: 100%;
        background-color: rgba($color: #c8c5d1, $alpha: 0.3);
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.99998 4.66659C7.63331 4.66659 7.33331 4.96659 7.33331 5.33325V7.33325H5.33331C4.96665 7.33325 4.66665 7.63325 4.66665 7.99992C4.66665 8.36659 4.96665 8.66659 5.33331 8.66659H7.33331V10.6666C7.33331 11.0333 7.63331 11.3333 7.99998 11.3333C8.36665 11.3333 8.66665 11.0333 8.66665 10.6666V8.66659H10.6666C11.0333 8.66659 11.3333 8.36659 11.3333 7.99992C11.3333 7.63325 11.0333 7.33325 10.6666 7.33325H8.66665V5.33325C8.66665 4.96659 8.36665 4.66659 7.99998 4.66659ZM7.99998 1.33325C4.31998 1.33325 1.33331 4.31992 1.33331 7.99992C1.33331 11.6799 4.31998 14.6666 7.99998 14.6666C11.68 14.6666 14.6666 11.6799 14.6666 7.99992C14.6666 4.31992 11.68 1.33325 7.99998 1.33325ZM7.99998 13.3333C5.05998 13.3333 2.66665 10.9399 2.66665 7.99992C2.66665 5.05992 5.05998 2.66659 7.99998 2.66659C10.94 2.66659 13.3333 5.05992 13.3333 7.99992C13.3333 10.9399 10.94 13.3333 7.99998 13.3333Z' fill='%239873FF'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: 145px 10px;
    }

    &__btn-save {
        padding: 13px 35px;
        color: #fff;
        background-color: #9873ff;
        font-weight: 600;
        margin: 85px auto 5px auto;
    }

    &__btn-cancel {
        display: block;
        margin: 0 auto;
        color: #333;
        font-size: 12px;
        text-decoration: underline;
    }
}

// POPUP-ADD ####################################################

.popup {
    &__content {
    }

    &__close {
    }

    &__form {
    }
}
.popup-add {
    &__content {
    }

    &__body {
    }

    &__title {
    }

    &__close {
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__input {
        border-bottom: 1px solid rgba($color: #c8c5d1, $alpha: 0.5);
        &::placeholder {
        }
    }

    &__input--lastname,
    &__input--name {
        margin-bottom: 32px;
    }

    &__input--middlename {
    }
}
